* {color:navy;}
p {text-align: left;}
table {background-color: rgb(193, 227, 247);}
#mamita {background-color: rgb(7, 243, 26);}
#domin {background-color: darkblue;}
tr{background-color: hotpink;}
#UNA {background-color: red;}
#pepe{color: yellow;}
h1 {border: solid 4px blueviolet}