* {color:navy;}
p {text-align: left;}
table {background-color: rgb(97, 16, 247);}
fieldset {border: solid 5px purple;}
h2 {color: red;}
#mamita {size: 34px;}
form {background-color: salmon;}
select {background-color: springgreen;}
textarea {border:yellow solid 2px }
#nombre {background-color: seagreen;}
#pepito {color: seagreen;}

