#p1{
    text-align:right; 
    color:RGB (255, 0, 0)
};
#p2{text-align:left;color: blue; letter-spacing: 10px;line-height: 5rem;}
#p3 {text-align: center; background-color: #00FF00; letter-spacing: 5px; text-transform: uppercase;}
