#A {font-family: 'Georgia';
    font-size: small;
}
#B {font-family: cursive;
    font-size: medium;
}
#C {font-family: fantasy;
    font-size: large;
}
#D {font-family: 'Times New Roman';
    font-size: large;
}
#E {font-family: monospace;
    font-size: x-large;
}
#F {font-size: 8px;}
#G {font-size: 10px;}
#H {font-size: 15px;}
#I {font-size: 23px;}
#J {font-size: 40px;}

#H1 {font-size: 40px;}
#H2 {font-size: 32px;}

#K {font-style: normal;}
#L {font-style: italic;}
#M {font-style: oblique}
#N {font-style: initial;}

#Ñ {font-weight: lighter;}
#O {font-weight: normal;}
#P {font-weight: bold}
#Q {font-weight: bolder;}

#R {font-weight: 100;}
#S {font-weight: 300;}
#T {font-weight: 700}
#U {font-weight: 900;}

#V {}
#W {color: red;}
#X {color: yellow;}
#Y {color: blue;}
#Z {color: green;}

