table{
    border-style: solid;
    border-width: 1px;
}

thead{font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    padding: 15px;
}
    

tbody{
    padding: 10px;
    font-size: default;
    font-family: default;
    font-weight: default;
}

tfoot{
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia;
    padding: 2px;
}
#ID1{
    background-color: red;
}
#ID2{
    background-color:firebrick;
}
#ID3{
    background-color: darkred;
}
#a{
    background-color: deepskyblue;
}
#b{
    background-color: dodgerblue;
}
#c{
    background-color: royalblue;
}
#a1{
    background-color: yellow;
}
#a2{
    background-color: gold;
}
#a3{
    background-color: orange;
}